.Contatiner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 5px;
    align-items: center ;
}


.Blogs{
    border: black solid 2px;
    cursor: pointer;
    padding: 5px;
    width: 600px;
    background-color: bisque;
    
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    min-width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }


  .hovering:hover{
    transform: scale(1.05);
    color: green;
    border: solid black 0.5px;
  }


  .Editing{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }


  .search-bar {
    display: flex;
    align-items:flex-start;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    font-size: 16px;
    
  }
  
  .search-bar:hover{
    transform: scale(1.05);
    color: green;
    border: solid black 0.5px;
  }
