.Containers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border-bottom: solid black 2px;
    padding: 5px;
}

.Buttons{
    display: flex;
    gap: 15px;
    align-items: center;
}

button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #fff;
    color: #000;
  }
  

a{
    all: unset;
}

.styling {
    /* font-size: 36px; */
    font-weight: bold;
    color: #000;
    margin-bottom: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .styling:hover {
    color: #007bff;
    text-decoration: underline;
  }
  